/**Style Roots**/
:root {
        /** Colors **/
    --Slate-900: rgb(31, 49, 79);
    --Slate-500: rgb(104, 119, 141);
    --Slate-300: rgb(213, 225, 239);
    --White: rgb(255, 255, 255);
        /** Spacing **/
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
        /** Font Preset 1 **/
    --text-preset-1: bold 22px/120% 'Outfit', sans-serif; /* Preset 1 */
    --text-preset-1-letter-spacing: 0px;
        /** Font Preset 2 **/
    --text-preset-2: normal 15px/140% 'Outfit', sans-serif; /* Preset 2 */
    --text-preset-2-letter-spacing: 0.2px;
    /* Testing */
    --text-preset-1: bold 22px/120% 'Outfit', sans-serif; /* Preset 1 */
    --text-preset-2: normal 15px/140% 'Outfit', sans-serif; /* Preset 2 */

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--Slate-300);
}

.frame-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.125rem;
    background-color: var(--White);
    padding: 1rem 1rem 2.5rem 1rem;
    border-radius: 1.25rem;
    overflow: hidden;
    gap: 1.5rem;
}

.Textbox {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

h1 {
    margin-top: 0px;
}

p {
    margin-top: -1.875rem;
}

.image-qr-code {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    border-radius: 0.625rem;
    object-fit: contain;
}

.text-preset-1 {
    font: var(--text-preset-1);
    letter-spacing: var(--text-preset-1-letter-spacing);
    color: var(--Slate-900);
}

.text-preset-2 {
    font: var(--text-preset-2);
    letter-spacing: var(--text-preset-2-letter-spacing);
    color: var(--Slate-500);
}